.menu {
  background-color: #fff;
  .chapters {
    .item {
      border-bottom: 2rpx solid #ededed;
      text {
        padding: 0 20rpx;
        width: 600rpx;
        height: 100rpx;
        line-height: 100rpx;
        font-size: 30rpx;
        color: #2e2e2e;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50rpx 30rpx;
    .same {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200rpx;
      height: 70rpx;
      border: 2rpx solid #999;
    }
    .next {
      background-color: #ffbb1b;
    }
  }
}
.active{
  color: #ffbb1b !important;
}
